/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url('./images/cover-image-light.png');
  --accent-color: rgba(255, 141, 203, 1);
  --title-text-color-h: rgba(53, 52, 48, 1);
  --text-color: rgba(53, 52, 48, 1);
  --title-text-color: rgba(53, 52, 48, 1);
  --title-color: rgba(255, 194, 230, 1);

  .decorated-zone-text {
  display: none;
}
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-image: url('./images/cover-image-light.png');
  --accent-color: rgba(255, 141, 203, 1);
  --title-text-color-h: rgba(53, 52, 48, 1);
  --text-color: rgba(53, 52, 48, 1);
  --title-text-color: rgba(53, 52, 48, 1);
  --title-color: rgba(255, 194, 230, 1);
} 

  .decorated-zone-text {
  display: none;
}
    /* Дублируем только те же переменные, что и выше */
}
